:root{
  --primary-color: #ba660f;
  --primary-background-color: #f6b26b;
  --secondary-color: #bf9000;
  --secondary-background-color: #ffd966;
  --tertiary-color: #990000;
  --tertiary-background-color: #e06666;
  --default-text-color: #ffffff;
  --default-background-color: #000000;

  --skewX-deg: -20deg;
  --skewX-deg-cancel: 20deg;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#gui{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  pointer-events: none;

  top: 0;
  left: 0;
  color: white;
  flex-direction: row;
}

#fps {
  position: absolute;
  background-color: black;
  border: 2px solid red;
  text-align: center;
  font-size: 16px;
  color: white;
  top: 15px;
  right: 10px;
  width: 60px;
  height: 20px;
}