.viewport {
  width: 100%;
  /* background-color: #ffc0cb4a; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  height: 100%;
  text-shadow: 1px 1px 1px var(--shadow-color);
}

.top_container {
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middle_container {
  width: 100%;
  /* background-color: green; */
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bottom_container {
  width: 100%;
  /* background-color: violet; */
  height: 20%;
  display: flex;
  padding: 3% 0px;
  align-items: center;
  justify-content: center;
}

.top_left_container {
  /* background-color: red; */
  width: 100%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top_right_container {
  /* background-color: yellow; */
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.top_left_sub_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
}

.top_left_sub_life_container {
  /* background-color: red; */
  /* width: 100%;  */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.life {}

.top_left_sub_name_container {}

.stamina_container {
  height: 20px;
  width: 50%;
  border: 3px solid var(--primary-color);
  transform: skewX(var(--skewX-deg));
}
.stamina_bar {
  background-color: yellow;
  height: 100%;
}

.timer_container {}

.top_left_sub_score_container {}

.modifier_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 12px;
  background-color: var(--default-background-color);
}

.modifier_effect_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modifier_effect_name {
  font-size: 15px;
}

.modifier_effect_timer {
  font-size: 20px;
}


.class_ability_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.class_ability_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: var(--default-background-color);
}

.class_ability_icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.class_ability_cooldown_container {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(180deg);
}

.class_ability_cooldown {
  width: 100%;
  background-color: var(--default-background-color);
}

.class_ability_name {
  font-size: 15px;
}

.end_info_container {
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px var(--shadow-color);
  color: var(--default-text-color);
  background-color: var(--default-background-color);
  box-shadow: 0 0 5px 0 var(--default-background-color);
}

.end_info_content {
  font-size: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown{
  background-color: var(--default-background-color);
  font-size: 3rem;
  font-weight: bolder;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.winner{
  color: var(--confirm-color);
}

.loser{
  color: var(--error-color);
}

.time {
  font-size: 2rem;
}

.best_time {
  font-size: 2.5rem;
  color: var(--confirm-color);
}